<h1 class="h4">toplantı katılım listesi</h1>
<table class="table table-boredered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Katılım durumu</td>
            <td>Detey</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>diyar aksoy</td>
            <td>evet</td>
            <td><a class="btn btrn-sm btn-primary" href="#">Detay</a></td>

        </tr>
        <tr>
            <td>kemal xx</td>
            <td>evet</td>
            <td><a class="btn btrn-sm btn-primary" href="#">Detay</a></td>
        </tr>
    </tbody>
</table>
